.mainBlock {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}

.avatar {
    width: 96px;
}

.name {

}

.mail {
    font-weight: 400;
    font-size: 14px;
}

.profileButton {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: white;
    border: none;
    color: black;
    margin: 25px 0 0 0;
    display: inline-block;
    width: 90px;
}

.profileBtn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    background-color: white;
    color: black;
}
