.button {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  color: #ffffff;
}

.disabled {
}

.secondary {
  background-color: #851b7f;
}

.default {
  background: #0066cc;
}

.red {
  background-color: red;
}

.default:hover {
  background: rgba(0, 102, 204, 0.53);
  color: #ffffff;
}

.red:hover {
  background: #76e74a;
}

.secondary:hover {
  background: #e5f0fa;
}

.default:active {
  background: #0059b3;
}

.secondary:active {
  background: #c9e5ff;
}

.red:active {
  background: #b31232;
}

.button:disabled {
  background-color: #a0acb6;
}
