.button {
  width: 347px;
  height: 36px;
  margin-top: 10px;
  color: #ffffff;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-color: inherit;
}

.disabled {
}

.secondary {
  background-color: #851b7f;
}

.default {
  background: #366EFF;
  box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.red {
  background-color: red;
}

.default:hover {
  background: rgba(0, 102, 204, 0.53);
  color: #ffffff;
}

.red:hover {
  background: #76e74a;
}

.secondary:hover {
  background: #e5f0fa;
}

.default:active {
  background: #0059b3;
}

.secondary:active {
  background: #c9e5ff;
}

.red:active {
  background: #b31232;
}

.button:disabled {
  background-color: #a0acb6;
}
