.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.backLink{
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    color: black;

    outline: none;
    text-decoration: none;
}