.pictureBlock {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-around;
}

.input {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

.uploadPicture {
  width: 100%;
  height: 130px;
  border-radius: 5px;
}

.image {
  margin-top: 20px;
  width: 150px;
  height: 130px;
}

.answerBlock {
  height: 50px;
}

.buttonBlock {
  display: flex;
  justify-content: flex-end;
}
